In [2]:
#primero importo los modulos 
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('attacks.csv', sep='|', encoding='latin-1')
df.head()

  Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex ,Age,Injury,Fatal (Y/N),Time,Species ,Investigator or Source,pdf,href formula,href,Case Number,Case Number,original order,,
0  2018.06.25,25-Jun-2018,2018,Boating,USA,Califo...
1  2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Geo...
2  2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii...
3  2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRAL...
4  2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Co...